@namespace h "http://www.w3.org/1999/xhtml";
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    page-break-before: always
    }
.calibre1 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em;
    page-break-before: always;
    text-align: center
    }
.calibre10 {
    font-style: italic
    }
.calibre11 {
    display: block;
    margin-bottom: 2px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: right;
    text-indent: 0
    }
.calibre12 {
    display: block;
    margin-bottom: 2px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: right;
    text-indent: 2em
    }
.calibre13 {
    display: block;
    text-align: center
    }
.calibre2 {
    font-weight: bolder
    }
.calibre3 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.calibre4 {
    display: block;
    margin-bottom: 2px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    page-break-before: left;
    text-align: center;
    text-indent: 2em
    }
.calibre5 {
    display: block;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em
    }
.calibre6 {
    display: block;
    margin-bottom: 2px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre7 {
    display: block
    }
.calibre8 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    page-break-before: always;
    text-align: center
    }
.calibre9 {
    display: block;
    margin-bottom: 2px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 2em
    }
a {
    color: inherit;
    text-decoration: inherit;
    cursor: default
    }
a[href] {
    color: blue;
    text-decoration: underline;
    cursor: pointer
    }