.shelf {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 100;
}
.shelf .book {
    width: 110px;
    height: 190px;
    overflow: hidden;
    float: left;
    margin: 10px;
}
.shelf .book .cover {
    width: 110px;
    /* TODO: wrap in div to crap rather than stretch */
    height: 150px;
}
.shelf .book .title,
.shelf .book .author {
    font-size: 10px;
    margin: 0;
    height: 15px;
    overflow: hidden;
    font-weight: normal;
}
.shelf .book .title {
    font-weight: bold;
}
.shelf .book .author {
    font-style: italic;
}