.shelf {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 100;
    padding: 0;
}
.shelf .book {
    width: 110px;
    height: 190px;
    overflow: hidden;
    float: left;
    margin: 10px;
}
.shelf .book .cover {
    width: 110px;
    /* TODO: wrap in div to crop rather than stretch */
    height: 150px;
}
.shelf .book .title,
.shelf .book .author {
    font-size: 10px;
    margin: 0;
    height: 15px;
    overflow: hidden;
    font-weight: normal;
}
.shelf .book .title {
    font-weight: bold;
}
.shelf .book .author {
    font-style: italic;
}

/* Extended Book Details Panel */
.book_extended {
    display: none;
    position: absolute;
    top: 0;
    border: solid 2px #333;
    border-top: none;
    border-radius: 0 0 10px 10px;
    padding: 20px;
    box-shadow: #000 0 0 10px;
    background-color: #FFF;
}
.book_extended h2,
.book_extended h3 {
    margin: 0;
}
.book_extended h3 {
    font-style: italic;
}